/*
  Icon Font: font-action
*/

@font-face {
  font-family: "font-action";
  src: url("./font-action_65186854aaaa25602dde56f70eb13547.eot");
  src: url("./font-action_65186854aaaa25602dde56f70eb13547.eot?#iefix") format("embedded-opentype"),
       url("./font-action_65186854aaaa25602dde56f70eb13547.woff") format("woff"),
       url("./font-action_65186854aaaa25602dde56f70eb13547.ttf") format("truetype"),
       url("./font-action_65186854aaaa25602dde56f70eb13547.svg#font-action") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-action";
    src: url("./font-action_65186854aaaa25602dde56f70eb13547.svg#font-action") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-ic_3d_rotation_24px:before,
.icon-ic_accessibility_24px:before,
.icon-ic_account_balance_24px:before,
.icon-ic_account_balance_wallet_24px:before,
.icon-ic_account_box_18px:before,
.icon-ic_account_box_24px:before,
.icon-ic_account_child_24px:before,
.icon-ic_account_circle_18px:before,
.icon-ic_account_circle_24px:before,
.icon-ic_add_shopping_cart_24px:before,
.icon-ic_alarm_24px:before,
.icon-ic_alarm_add_24px:before,
.icon-ic_alarm_off_24px:before,
.icon-ic_alarm_on_24px:before,
.icon-ic_android_24px:before,
.icon-ic_announcement_24px:before,
.icon-ic_aspect_ratio_24px:before,
.icon-ic_assessment_24px:before,
.icon-ic_assignment_24px:before,
.icon-ic_assignment_ind_24px:before,
.icon-ic_assignment_late_24px:before,
.icon-ic_assignment_return_24px:before,
.icon-ic_assignment_returned_24px:before,
.icon-ic_assignment_turned_in_24px:before,
.icon-ic_autorenew_24px:before,
.icon-ic_backup_24px:before,
.icon-ic_book_24px:before,
.icon-ic_bookmark_24px:before,
.icon-ic_bookmark_outline_24px:before,
.icon-ic_bug_report_24px:before,
.icon-ic_cached_24px:before,
.icon-ic_class_24px:before,
.icon-ic_credit_card_24px:before,
.icon-ic_dashboard_24px:before,
.icon-ic_delete_24px:before,
.icon-ic_description_24px:before,
.icon-ic_dns_24px:before,
.icon-ic_done_24px:before,
.icon-ic_done_all_24px:before,
.icon-ic_event_18px:before,
.icon-ic_event_24px:before,
.icon-ic_exit_to_app_24px:before,
.icon-ic_explore_24px:before,
.icon-ic_extension_24px:before,
.icon-ic_face_unlock_24px:before,
.icon-ic_favorite_24px:before,
.icon-ic_favorite_outline_24px:before,
.icon-ic_find_in_page_24px:before,
.icon-ic_find_replace_24px:before,
.icon-ic_flip_to_back_24px:before,
.icon-ic_flip_to_front_24px:before,
.icon-ic_get_app_24px:before,
.icon-ic_grade_24px:before,
.icon-ic_group_work_24px:before,
.icon-ic_help_24px:before,
.icon-ic_highlight_remove_24px:before,
.icon-ic_history_24px:before,
.icon-ic_home_24px:before,
.icon-ic_https_24px:before,
.icon-ic_info_24px:before,
.icon-ic_info_outline_24px:before,
.icon-ic_input_24px:before,
.icon-ic_invert_colors_24px:before,
.icon-ic_label_24px:before,
.icon-ic_label_outline_24px:before,
.icon-ic_language_24px:before,
.icon-ic_launch_24px:before,
.icon-ic_list_24px:before,
.icon-ic_lock_24px:before,
.icon-ic_lock_open_24px:before,
.icon-ic_lock_outline_24px:before,
.icon-ic_loyalty_24px:before,
.icon-ic_markunread_mailbox_24px:before,
.icon-ic_note_add_24px:before,
.icon-ic_open_in_browser_24px:before,
.icon-ic_open_in_new_24px:before,
.icon-ic_open_with_24px:before,
.icon-ic_pageview_24px:before,
.icon-ic_payment_24px:before,
.icon-ic_perm_camera_mic_24px:before,
.icon-ic_perm_contact_cal_24px:before,
.icon-ic_perm_data_setting_24px:before,
.icon-ic_perm_device_info_24px:before,
.icon-ic_perm_identity_24px:before,
.icon-ic_perm_media_24px:before,
.icon-ic_perm_phone_msg_24px:before,
.icon-ic_perm_scan_wifi_24px:before,
.icon-ic_picture_in_picture_24px:before,
.icon-ic_polymer_24px:before,
.icon-ic_print_24px:before,
.icon-ic_query_builder_24px:before,
.icon-ic_question_answer_24px:before,
.icon-ic_receipt_24px:before,
.icon-ic_redeem_24px:before,
.icon-ic_reorder_24px:before,
.icon-ic_report_problem_24px:before,
.icon-ic_restore_24px:before,
.icon-ic_room_24px:before,
.icon-ic_schedule_24px:before,
.icon-ic_search_24px:before,
.icon-ic_settings_24px:before,
.icon-ic_settings_applications_24px:before,
.icon-ic_settings_backup_restore_24px:before,
.icon-ic_settings_bluetooth_24px:before,
.icon-ic_settings_cell_24px:before,
.icon-ic_settings_display_24px:before,
.icon-ic_settings_ethernet_24px:before,
.icon-ic_settings_input_antenna_24px:before,
.icon-ic_settings_input_component_24px:before,
.icon-ic_settings_input_composite_24px:before,
.icon-ic_settings_input_hdmi_24px:before,
.icon-ic_settings_input_svideo_24px:before,
.icon-ic_settings_overscan_24px:before,
.icon-ic_settings_phone_24px:before,
.icon-ic_settings_power_24px:before,
.icon-ic_settings_remote_24px:before,
.icon-ic_settings_voice_24px:before,
.icon-ic_shop_24px:before,
.icon-ic_shop_two_24px:before,
.icon-ic_shopping_basket_24px:before,
.icon-ic_shopping_cart_24px:before,
.icon-ic_speaker_notes_24px:before,
.icon-ic_spellcheck_24px:before,
.icon-ic_star_rate_24px:before,
.icon-ic_stars_24px:before,
.icon-ic_store_24px:before,
.icon-ic_subject_24px:before,
.icon-ic_supervisor_account_24px:before,
.icon-ic_swap_horiz_24px:before,
.icon-ic_swap_vert_24px:before,
.icon-ic_swap_vert_circle_24px:before,
.icon-ic_system_update_tv_24px:before,
.icon-ic_tab_24px:before,
.icon-ic_tab_unselected_24px:before,
.icon-ic_theaters_24px:before,
.icon-ic_thumb_down_24px:before,
.icon-ic_thumb_up_24px:before,
.icon-ic_thumbs_up_down_24px:before,
.icon-ic_toc_24px:before,
.icon-ic_today_24px:before,
.icon-ic_track_changes_24px:before,
.icon-ic_translate_24px:before,
.icon-ic_trending_down_24px:before,
.icon-ic_trending_neutral_24px:before,
.icon-ic_trending_up_24px:before,
.icon-ic_turned_in_24px:before,
.icon-ic_turned_in_not_24px:before,
.icon-ic_verified_user_24px:before,
.icon-ic_view_agenda_24px:before,
.icon-ic_view_array_24px:before,
.icon-ic_view_carousel_24px:before,
.icon-ic_view_column_24px:before,
.icon-ic_view_day_24px:before,
.icon-ic_view_headline_24px:before,
.icon-ic_view_list_24px:before,
.icon-ic_view_module_24px:before,
.icon-ic_view_quilt_24px:before,
.icon-ic_view_stream_24px:before,
.icon-ic_view_week_24px:before,
.icon-ic_visibility_24px:before,
.icon-ic_visibility_off_24px:before,
.icon-ic_wallet_giftcard_24px:before,
.icon-ic_wallet_membership_24px:before,
.icon-ic_wallet_travel_24px:before,
.icon-ic_work_24px:before {
  display: inline-block;
  font-family: "font-action";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-ic_3d_rotation_24px:before { content: "\f100"; }
.icon-ic_accessibility_24px:before { content: "\f101"; }
.icon-ic_account_balance_24px:before { content: "\f102"; }
.icon-ic_account_balance_wallet_24px:before { content: "\f103"; }
.icon-ic_account_box_18px:before { content: "\f104"; }
.icon-ic_account_box_24px:before { content: "\f105"; }
.icon-ic_account_child_24px:before { content: "\f106"; }
.icon-ic_account_circle_18px:before { content: "\f107"; }
.icon-ic_account_circle_24px:before { content: "\f108"; }
.icon-ic_add_shopping_cart_24px:before { content: "\f109"; }
.icon-ic_alarm_24px:before { content: "\f10a"; }
.icon-ic_alarm_add_24px:before { content: "\f10b"; }
.icon-ic_alarm_off_24px:before { content: "\f10c"; }
.icon-ic_alarm_on_24px:before { content: "\f10d"; }
.icon-ic_android_24px:before { content: "\f10e"; }
.icon-ic_announcement_24px:before { content: "\f10f"; }
.icon-ic_aspect_ratio_24px:before { content: "\f110"; }
.icon-ic_assessment_24px:before { content: "\f111"; }
.icon-ic_assignment_24px:before { content: "\f112"; }
.icon-ic_assignment_ind_24px:before { content: "\f113"; }
.icon-ic_assignment_late_24px:before { content: "\f114"; }
.icon-ic_assignment_return_24px:before { content: "\f115"; }
.icon-ic_assignment_returned_24px:before { content: "\f116"; }
.icon-ic_assignment_turned_in_24px:before { content: "\f117"; }
.icon-ic_autorenew_24px:before { content: "\f118"; }
.icon-ic_backup_24px:before { content: "\f119"; }
.icon-ic_book_24px:before { content: "\f11a"; }
.icon-ic_bookmark_24px:before { content: "\f11b"; }
.icon-ic_bookmark_outline_24px:before { content: "\f11c"; }
.icon-ic_bug_report_24px:before { content: "\f11d"; }
.icon-ic_cached_24px:before { content: "\f11e"; }
.icon-ic_class_24px:before { content: "\f11f"; }
.icon-ic_credit_card_24px:before { content: "\f120"; }
.icon-ic_dashboard_24px:before { content: "\f121"; }
.icon-ic_delete_24px:before { content: "\f122"; }
.icon-ic_description_24px:before { content: "\f123"; }
.icon-ic_dns_24px:before { content: "\f124"; }
.icon-ic_done_24px:before { content: "\f125"; }
.icon-ic_done_all_24px:before { content: "\f126"; }
.icon-ic_event_18px:before { content: "\f127"; }
.icon-ic_event_24px:before { content: "\f128"; }
.icon-ic_exit_to_app_24px:before { content: "\f129"; }
.icon-ic_explore_24px:before { content: "\f12a"; }
.icon-ic_extension_24px:before { content: "\f12b"; }
.icon-ic_face_unlock_24px:before { content: "\f12c"; }
.icon-ic_favorite_24px:before { content: "\f12d"; }
.icon-ic_favorite_outline_24px:before { content: "\f12e"; }
.icon-ic_find_in_page_24px:before { content: "\f12f"; }
.icon-ic_find_replace_24px:before { content: "\f130"; }
.icon-ic_flip_to_back_24px:before { content: "\f131"; }
.icon-ic_flip_to_front_24px:before { content: "\f132"; }
.icon-ic_get_app_24px:before { content: "\f133"; }
.icon-ic_grade_24px:before { content: "\f134"; }
.icon-ic_group_work_24px:before { content: "\f135"; }
.icon-ic_help_24px:before { content: "\f136"; }
.icon-ic_highlight_remove_24px:before { content: "\f137"; }
.icon-ic_history_24px:before { content: "\f138"; }
.icon-ic_home_24px:before { content: "\f139"; }
.icon-ic_https_24px:before { content: "\f13a"; }
.icon-ic_info_24px:before { content: "\f13b"; }
.icon-ic_info_outline_24px:before { content: "\f13c"; }
.icon-ic_input_24px:before { content: "\f13d"; }
.icon-ic_invert_colors_24px:before { content: "\f13e"; }
.icon-ic_label_24px:before { content: "\f13f"; }
.icon-ic_label_outline_24px:before { content: "\f140"; }
.icon-ic_language_24px:before { content: "\f141"; }
.icon-ic_launch_24px:before { content: "\f142"; }
.icon-ic_list_24px:before { content: "\f143"; }
.icon-ic_lock_24px:before { content: "\f144"; }
.icon-ic_lock_open_24px:before { content: "\f145"; }
.icon-ic_lock_outline_24px:before { content: "\f146"; }
.icon-ic_loyalty_24px:before { content: "\f147"; }
.icon-ic_markunread_mailbox_24px:before { content: "\f148"; }
.icon-ic_note_add_24px:before { content: "\f149"; }
.icon-ic_open_in_browser_24px:before { content: "\f14a"; }
.icon-ic_open_in_new_24px:before { content: "\f14b"; }
.icon-ic_open_with_24px:before { content: "\f14c"; }
.icon-ic_pageview_24px:before { content: "\f14d"; }
.icon-ic_payment_24px:before { content: "\f14e"; }
.icon-ic_perm_camera_mic_24px:before { content: "\f14f"; }
.icon-ic_perm_contact_cal_24px:before { content: "\f150"; }
.icon-ic_perm_data_setting_24px:before { content: "\f151"; }
.icon-ic_perm_device_info_24px:before { content: "\f152"; }
.icon-ic_perm_identity_24px:before { content: "\f153"; }
.icon-ic_perm_media_24px:before { content: "\f154"; }
.icon-ic_perm_phone_msg_24px:before { content: "\f155"; }
.icon-ic_perm_scan_wifi_24px:before { content: "\f156"; }
.icon-ic_picture_in_picture_24px:before { content: "\f157"; }
.icon-ic_polymer_24px:before { content: "\f158"; }
.icon-ic_print_24px:before { content: "\f159"; }
.icon-ic_query_builder_24px:before { content: "\f15a"; }
.icon-ic_question_answer_24px:before { content: "\f15b"; }
.icon-ic_receipt_24px:before { content: "\f15c"; }
.icon-ic_redeem_24px:before { content: "\f15d"; }
.icon-ic_reorder_24px:before { content: "\f15e"; }
.icon-ic_report_problem_24px:before { content: "\f15f"; }
.icon-ic_restore_24px:before { content: "\f160"; }
.icon-ic_room_24px:before { content: "\f161"; }
.icon-ic_schedule_24px:before { content: "\f162"; }
.icon-ic_search_24px:before { content: "\f163"; }
.icon-ic_settings_24px:before { content: "\f164"; }
.icon-ic_settings_applications_24px:before { content: "\f165"; }
.icon-ic_settings_backup_restore_24px:before { content: "\f166"; }
.icon-ic_settings_bluetooth_24px:before { content: "\f167"; }
.icon-ic_settings_cell_24px:before { content: "\f168"; }
.icon-ic_settings_display_24px:before { content: "\f169"; }
.icon-ic_settings_ethernet_24px:before { content: "\f16a"; }
.icon-ic_settings_input_antenna_24px:before { content: "\f16b"; }
.icon-ic_settings_input_component_24px:before { content: "\f16c"; }
.icon-ic_settings_input_composite_24px:before { content: "\f16d"; }
.icon-ic_settings_input_hdmi_24px:before { content: "\f16e"; }
.icon-ic_settings_input_svideo_24px:before { content: "\f16f"; }
.icon-ic_settings_overscan_24px:before { content: "\f170"; }
.icon-ic_settings_phone_24px:before { content: "\f171"; }
.icon-ic_settings_power_24px:before { content: "\f172"; }
.icon-ic_settings_remote_24px:before { content: "\f173"; }
.icon-ic_settings_voice_24px:before { content: "\f174"; }
.icon-ic_shop_24px:before { content: "\f175"; }
.icon-ic_shop_two_24px:before { content: "\f176"; }
.icon-ic_shopping_basket_24px:before { content: "\f177"; }
.icon-ic_shopping_cart_24px:before { content: "\f178"; }
.icon-ic_speaker_notes_24px:before { content: "\f179"; }
.icon-ic_spellcheck_24px:before { content: "\f17a"; }
.icon-ic_star_rate_24px:before { content: "\f17b"; }
.icon-ic_stars_24px:before { content: "\f17c"; }
.icon-ic_store_24px:before { content: "\f17d"; }
.icon-ic_subject_24px:before { content: "\f17e"; }
.icon-ic_supervisor_account_24px:before { content: "\f17f"; }
.icon-ic_swap_horiz_24px:before { content: "\f180"; }
.icon-ic_swap_vert_24px:before { content: "\f181"; }
.icon-ic_swap_vert_circle_24px:before { content: "\f182"; }
.icon-ic_system_update_tv_24px:before { content: "\f183"; }
.icon-ic_tab_24px:before { content: "\f184"; }
.icon-ic_tab_unselected_24px:before { content: "\f185"; }
.icon-ic_theaters_24px:before { content: "\f186"; }
.icon-ic_thumb_down_24px:before { content: "\f187"; }
.icon-ic_thumb_up_24px:before { content: "\f188"; }
.icon-ic_thumbs_up_down_24px:before { content: "\f189"; }
.icon-ic_toc_24px:before { content: "\f18a"; }
.icon-ic_today_24px:before { content: "\f18b"; }
.icon-ic_track_changes_24px:before { content: "\f18c"; }
.icon-ic_translate_24px:before { content: "\f18d"; }
.icon-ic_trending_down_24px:before { content: "\f18e"; }
.icon-ic_trending_neutral_24px:before { content: "\f18f"; }
.icon-ic_trending_up_24px:before { content: "\f190"; }
.icon-ic_turned_in_24px:before { content: "\f191"; }
.icon-ic_turned_in_not_24px:before { content: "\f192"; }
.icon-ic_verified_user_24px:before { content: "\f193"; }
.icon-ic_view_agenda_24px:before { content: "\f194"; }
.icon-ic_view_array_24px:before { content: "\f195"; }
.icon-ic_view_carousel_24px:before { content: "\f196"; }
.icon-ic_view_column_24px:before { content: "\f197"; }
.icon-ic_view_day_24px:before { content: "\f198"; }
.icon-ic_view_headline_24px:before { content: "\f199"; }
.icon-ic_view_list_24px:before { content: "\f19a"; }
.icon-ic_view_module_24px:before { content: "\f19b"; }
.icon-ic_view_quilt_24px:before { content: "\f19c"; }
.icon-ic_view_stream_24px:before { content: "\f19d"; }
.icon-ic_view_week_24px:before { content: "\f19e"; }
.icon-ic_visibility_24px:before { content: "\f19f"; }
.icon-ic_visibility_off_24px:before { content: "\f1a0"; }
.icon-ic_wallet_giftcard_24px:before { content: "\f1a1"; }
.icon-ic_wallet_membership_24px:before { content: "\f1a2"; }
.icon-ic_wallet_travel_24px:before { content: "\f1a3"; }
.icon-ic_work_24px:before { content: "\f1a4"; }
